
/* ADD @import statements ABOVE this line  */

/*  ------------------------------------------------------
    BASIC PAGE STYLING
    Here you can set typography, colors and overall page styling
    ------------------------------------------------------ */
    html{
        font-size: 100%;
    }
    body{background-color: black;
    }
    body{
        display: inline-block;
        margin-right: 40px;
        color: aliceblue;
        line-height: 1.5;
        background-image: url("images/000012920033.jpg");
        /* background:cover url("images/000012920033.jpg"); */
        background-size: cover;
        background-repeat: no-repeat;
      }
    
   
    
    a{
        color: #1313f1;
        text-decoration: none;
        border-bottom: 1px solid #1313f1;
    }
    a:hover{
        color: #0fa4df;
        border-bottom: 3px solid #0fa4df;
    }
    a:visited{
        color: #1313f1;
        border-bottom: 1px solid #1313f1;
    
    }
    
    h1 p{color: aliceblue;}
    
  
    nav{
        background-color: #fef6c6;
        padding: 10px;
    }
        nav ul{
        margin: 0;
        padding: 0;
    }
    nav li
    {
        display: inline; /* brings nav elements up next to each other */
        list-style-type: none; /* removes the bullet points */
        padding-right: 20px; /* spaces them out from each other. Adjust to suit your needs */
    }
   
    nav li a{
        color: #1313f1;
        border-bottom: none;
    }
    nav li a:visited{
        color: #1313f1;
        
    }
 
    img,video{
        max-width: 100%; 
        height: auto;
    }
    

    .videoWrapper {
        position: relative;
        padding-top: 25px;
        height: 0;
        clear:both;
        outline:1px solid red;
      }
      
      .videoWrapper.ratio-16-9{
          padding-bottom: 56.25%; /* 16:9 */
      }
      
      .videoWrapper.ratio-4-3{
          padding-bottom: 75%; /* 4:3 */
      }
      
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
     
      figure{
          margin: 1500;
      }
    